@import "../pages/mixins";

* {
  font-family: "Assistant", sans-serif;
}

.logoCont {
  cursor: pointer;
  img {
    width: 100%;
  }
}

header {
  background: #f3f3f3;
  padding: 25px 10px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;

}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 15px;
  color: #333;

  .userItem.dropdown.active & {
    transform: rotate(180deg);
  }
}

.navBar {
  .userList {
    display: flex;
    align-items: center;

    .userItem {
      position: relative;
      margin-right: 20px;
      margin-bottom: 10px;

      a {
        color: #333;
        font-size: 14px;
        padding: 5px;
        display: flex;
        position: relative;
        border-bottom: 1px solid transparent;
        gap: 14px;

        &:hover {
          border-bottom: 1px solid black;
        }
      }

      &.dropdown {
        position: relative;

        .dropdownMenu {
          position: absolute;
          top: 37px;
          z-index: 1;
          width: 200px;
          display: none;
          left: 0;
          background: linear-gradient(
            133deg,
            rgba(246, 221, 220, 1) 11%,
            rgba(245, 202, 221, 0.89) 49%,
            rgba(247, 240, 246, 1) 85%
          );
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &.active {
          .dropdownMenu {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }

        .dropdownMenu li {
          padding: 8px 20px;

          a {
            color: #555;
            font-size: 14px;
            display: inline-block;

            &:hover {
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
  }
}

@include dropdownMenu;

/* Hamburger Menu */
.burger-menu {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;

  .open,
  .close {
    display: block;
    font-size: 26px;
  }

  .close {
    display: none;
  }

  &.active {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}

.search,
.addTooCart {
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .burger-menu {
    display: block;
  }

  .row {
    justify-content: space-between;
  }

  .navBar {
    .userList {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background: linear-gradient(
        133deg,
        rgba(246, 221, 220, 1) 11%,
        rgba(245, 202, 221, 0.89) 49%,
        rgba(247, 240, 246, 1) 85%
      );
      position: absolute;
      top: 118px;
      left: 0;
      width: 100vw;
      z-index: 11;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &.active {
        display: flex;
      }
    }
  }

  .selectOption {
    padding: 3px;
  }

  .customLang,
  .customValyuta {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .navBar {
    .userList {
      padding: 15px;
      flex-direction: column;
      z-index: 11;
      width: 100vw;
      gap: 10px;
      align-items: flex-start;

      background: linear-gradient(
        133deg,
        rgba(246, 221, 220, 1) 11%,
        rgba(245, 202, 221, 0.89) 49%,
        rgba(247, 240, 246, 1) 85%
      );
    }

    .userItem {
      margin-right: 0;
      margin-bottom: 5px;
    }

    .userItem a {
      font-size: 13px;
    }

    .dropdownMenu {
      width: 100%;
    }
  }

  .selectOption {
    display: none;
  }

  .logoCont {
    width: 150px;
  }

  .burger-menu {
    width: 25px;
    height: 20px;
  }
}


body.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}



.modalOverlay {
  display: none; // Başlangıçta gizli
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.search-container {
  position: fixed;
  left: 0;
  gap: 15px;
  width: 100%;
  height: 130px;
  background: #f3f3f3;
  backdrop-filter: blur(8px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  .search-input {
    width: 65%;
    padding: 15px;
    display: flex;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
  }

  .searchResults {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    width: 63%;
    margin: 0 auto;
    display: none;
    overflow-y: auto;
    padding: 10px;

    .searchResultItem {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      .searchResultImage {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .searchResultName {
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    }
  }

  .close-btn {

    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

body.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

body.no-blur {
  filter: none;
}
