* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

* {
  font-family: "Assistant", sans-serif;
}

.logoCont img {
  width: 100%;
}

header {
  background: #f3f3f3;
  padding: 25px 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 15px;
  color: #333;
}
.userItem.dropdown.active .arrow {
  transform: rotate(180deg);
}

.navBar .userList {
  display: flex;
  align-items: center;
}
.navBar .userList .userItem {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}
.navBar .userList .userItem a {
  color: #333;
  font-size: 14px;
  padding: 5px;
  display: flex;
  position: relative;
  border-bottom: 1px solid transparent;
  gap: 14px;
}
.navBar .userList .userItem a:hover {
  border-bottom: 1px solid black;
}
.navBar .userList .userItem.dropdown {
  position: relative;
}
.navBar .userList .userItem.dropdown .dropdownMenu {
  position: absolute;
  top: 37px;
  z-index: 1;
  width: 200px;
  display: none;
  left: 0;
  background: linear-gradient(133deg, rgb(246, 221, 220) 11%, rgba(245, 202, 221, 0.89) 49%, rgb(247, 240, 246) 85%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navBar .userList .userItem.dropdown.active .dropdownMenu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navBar .userList .userItem.dropdown .dropdownMenu li {
  padding: 8px 20px;
}
.navBar .userList .userItem.dropdown .dropdownMenu li a {
  color: #555;
  font-size: 14px;
  display: inline-block;
}
.navBar .userList .userItem.dropdown .dropdownMenu li a:hover {
  border-bottom: 1px solid black;
}

.selectOption {
  display: flex;
  gap: 20px;
}
.selectOption .customValyuta,
.selectOption .customLang {
  position: relative;
  font-family: "Arial", sans-serif;
}
.selectOption .customValyuta .dropdown,
.selectOption .customLang .dropdown {
  position: relative;
}
.selectOption .customValyuta .dropdown .dropdown-toggle,
.selectOption .customLang .dropdown .dropdown-toggle {
  width: 100%;
  font-size: 16px;
  display: flex;
  gap: 14px;
  color: #333;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
.selectOption .customValyuta .dropdown .dropdown-toggle #selectedCurrency,
.selectOption .customValyuta .dropdown .dropdown-toggle #selectedLanguage,
.selectOption .customLang .dropdown .dropdown-toggle #selectedCurrency,
.selectOption .customLang .dropdown .dropdown-toggle #selectedLanguage {
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.selectOption .customValyuta .dropdown .dropdown-toggle #selectedCurrency:hover,
.selectOption .customValyuta .dropdown .dropdown-toggle #selectedLanguage:hover,
.selectOption .customLang .dropdown .dropdown-toggle #selectedCurrency:hover,
.selectOption .customLang .dropdown .dropdown-toggle #selectedLanguage:hover {
  border-bottom: 1px solid black;
}
.selectOption .customValyuta .dropdown .dropdown-toggle .arrow,
.selectOption .customLang .dropdown .dropdown-toggle .arrow {
  transition: transform 0.3s ease;
  font-size: 15px;
  color: #333;
}
.selectOption .customValyuta .dropdown .dropdown-menu,
.selectOption .customLang .dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 130px;
  display: none;
  list-style: none;
  padding: 0;
  background-color: white;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selectOption .customValyuta .dropdown .dropdown-menu .dropdown-item,
.selectOption .customLang .dropdown .dropdown-menu .dropdown-item {
  padding: 12px 16px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.selectOption .customValyuta .dropdown .dropdown-menu .dropdown-item span,
.selectOption .customLang .dropdown .dropdown-menu .dropdown-item span {
  display: inline-block;
}
.selectOption .customValyuta .dropdown .dropdown-menu .dropdown-item span:hover,
.selectOption .customLang .dropdown .dropdown-menu .dropdown-item span:hover {
  color: black;
  border-bottom: 1px solid black;
}
.selectOption .customValyuta .dropdown .dropdown-menu .dropdown-item.active,
.selectOption .customLang .dropdown .dropdown-menu .dropdown-item.active {
  background-color: #492020;
}
.selectOption .customValyuta .active .dropdown-menu,
.selectOption .customLang .active .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.selectOption .customValyuta .active .dropdown-toggle .arrow,
.selectOption .customLang .active .dropdown-toggle .arrow {
  transform: rotate(180deg);
}

/* Hamburger Menu */
.burger-menu {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;
}
.burger-menu .open,
.burger-menu .close {
  display: block;
  font-size: 26px;
}
.burger-menu .close {
  display: none;
}
.burger-menu.active .open {
  display: none;
}
.burger-menu.active .close {
  display: block;
}

.search, .addTooCart {
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .burger-menu {
    display: block;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .navBar .userList {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(133deg, rgb(246, 221, 220) 11%, rgba(245, 202, 221, 0.89) 49%, rgb(247, 240, 246) 85%);
    position: absolute;
    top: 118px;
    left: 0;
    width: 100vw;
    z-index: 11;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .navBar .userList.active {
    display: flex;
  }
  .selectOption {
    padding: 3px 3px 3px 3px;
  }
  .customLang,
  .customValyuta {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .navBar .userList {
    padding: 15px;
    flex-direction: column;
    z-index: 11;
    width: 100vw;
    gap: 10px;
    align-items: flex-start;
    background: linear-gradient(133deg, rgb(246, 221, 220) 11%, rgba(245, 202, 221, 0.89) 49%, rgb(247, 240, 246) 85%);
  }
  .navBar .userItem {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .navBar .userItem a {
    font-size: 13px;
  }
  .navBar .dropdownMenu {
    width: 100%;
  }
  .selectOption {
    display: none;
  }
  .logoCont {
    width: 150px;
  }
  .burger-menu {
    width: 25px;
    height: 20px;
  }
}
.threeHelloKitty {
  width: 100%;
}
.threeHelloKitty img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sliderComment {
  font-family: "Arial", sans-serif;
  background-color: rgb(246, 205, 220);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sliderComment .slider-container {
  width: 90%;
  max-width: 70%;
  padding: 40px;
  position: relative;
  overflow: hidden;
}
.sliderComment .slider-container .slider {
  display: flex;
  position: relative;
  overflow: hidden;
}
.sliderComment .slider-container .slider .prev,
.sliderComment .slider-container .slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.sliderComment .slider-container .slider .prev {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.sliderComment .slider-container .slider .next {
  right: 0px;
}
.sliderComment .slider-container .slider .slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.sliderComment .slider-container .slider .slider-content .testimonial {
  flex: 1 0 100%;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  color: #555;
  margin: 0;
  line-height: 1.6;
}
.sliderComment .slider-container .slider .slider-content .testimonial p {
  color: black;
  font-weight: 500;
}
.sliderComment .slider-container .slider .slider-content .testimonial footer {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
.sliderComment .slider-container .slider .slider-content .testimonial footer .dots {
  display: flex;
  gap: 5px;
}
.sliderComment .slider-container .slider .slider-content .testimonial footer .dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
}
.sliderComment .slider-container .slider .slider-content .testimonial footer .dots span.active {
  background-color: #ff6f91;
  opacity: 1;
}
@media (max-width: 768px) {
  .sliderComment .slider-container .slider .testimonial {
    font-size: 1.5rem;
  }
  .sliderComment .slider-container .slider .testimonial footer {
    font-size: 0.9rem;
  }
  .sliderComment .slider-container .slider .testimonial footer .dots span {
    width: 8px;
    height: 8px;
  }
  .sliderComment .slider-container .slider .prev,
  .sliderComment .slider-container .slider .next {
    font-size: 1.5rem;
    padding: 8px;
  }
}
@media (max-width: 480px) {
  .sliderComment .slider-container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
  }
  .sliderComment .slider-container .slider .testimonial p {
    font-size: 14px;
  }
  .sliderComment .slider-container .slider .testimonial footer span {
    font-size: 14px;
  }
  .sliderComment .slider-container .slider .testimonial footer .dots span {
    width: 6px;
    height: 6px;
  }
  .sliderComment .slider-container .slider .prev,
  .sliderComment .slider-container .slider .next {
    font-size: 1.2rem;
    padding: 6px;
  }
}

.whyHelloSection {
  background-color: #f6cddc;
  padding: 42px 10px;
}
.whyHelloSection .container {
  max-width: 47%;
  margin: 0 auto;
}
.whyHelloSection .container .row {
  display: flex;
  flex-direction: column;
}
.whyHelloSection .container .row .whyHello {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #212121;
}
.whyHelloSection .container .row p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(59, 59, 59);
  margin-bottom: 1rem;
  text-align: center;
}
.whyHelloSection .container .row .discoverBtn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 12px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .whyHelloSection .container .row .whyHello {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .whyHelloSection .container .row .whyHello {
    font-size: 20px;
  }
}
.threeCart {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #333;
  line-height: 1.5;
}
.threeCart .container {
  max-width: 80%;
  margin: 0 auto;
}
.threeCart .container h2 {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #212121;
  text-align: left;
}
.threeCart .container .collection-items {
  display: flex;
  gap: 13px;
}
.threeCart .container .collection-items .collection-card {
  text-align: left;
  cursor: pointer;
}
.threeCart .container .collection-items .collection-card h3 {
  font-family: "Cursive", sans-serif;
  font-size: 1.5rem;
  color: #f4b6c2;
  margin-bottom: 1rem;
}
.threeCart .container .collection-items .collection-card .collection-image {
  text-align: center;
}
.threeCart .container .collection-items .collection-card .collection-image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.threeCart .container .collection-items .collection-card .collection-image img:hover {
  transform: translateY(-6px);
}
.threeCart .container .collection-items .collection-card .collection-link {
  display: inline-block;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 19px;
  text-align: left;
}
.threeCart .container .collection-items .collection-card .collection-link:hover {
  color: #f4b6c2;
}

@media (max-width: 768px) {
  .collection-items {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .collection-items {
    flex-wrap: wrap;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fce4ec;
}

.footer {
  background: linear-gradient(133deg, rgb(246, 221, 220) 11%, rgba(245, 202, 221, 0.89) 49%, rgb(247, 240, 246) 85%);
  color: #333;
  padding: 20px;
  text-align: center;
}
.footer .container {
  width: 90%;
  margin: 0 auto;
}
.footer .container .newsletter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(195, 195, 195, 0.534);
}
.footer .container .newsletter p {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer .container .newsletter .newsletter-input input {
  width: 100%;
  max-width: 350px;
  position: relative;
  background-color: #FFEDF4;
  padding: 12px;
}
.footer .container .newsletter .newsletter-input .newsletter-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
}
.footer .container .newsletter .social-icons {
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  gap: 15px;
}
.footer .container .footer-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.footer .container .footer-settings label {
  font-size: 14px;
}
.footer .container .footer-settings .customValyuta,
.footer .container .footer-settings .customLang {
  border: 1px solid black;
  background-color: #FFEDF4;
  padding: 8px 14px;
  margin-bottom: 10px;
}
.footer .container .footer-settings .customValyuta .dropdown-menu,
.footer .container .footer-settings .customLang .dropdown-menu {
  top: 42px;
}
.footer .container .footer-settings .payment-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.footer .container .footer-settings .payment-icons img {
  width: 30px;
  margin: 5px;
}
.footer .container .footer-bottom {
  font-size: 12px;
  text-align: center;
  padding: 15px;
}
.footer .container .footer-bottom a {
  text-decoration: none;
  color: #333;
}
.footer .container .footer-bottom a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer .container .newsletter {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .newsletter .newsletter-input input {
    width: 270px;
  }
  .footer .container .newsletter .social-icons {
    margin-top: 0;
  }
  .footer .container .footer-settings {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .container .footer-settings .payment-icons {
    justify-content: flex-start;
  }
  .footer .container .footer-bottom {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .footer .container {
    width: 80%;
  }
  .footer .container .newsletter p {
    font-size: 18px;
  }
  .footer .container .footer-settings .payment-icons img {
    width: 40px;
  }
}/*# sourceMappingURL=index.css.map */