body {
  background-color: #f3f3f3;
}

.cartContainer {
  font-family: Arial, sans-serif;
  padding: 20px;

  .container {
    max-width: 80%;
    margin: 0 auto;

    .cartHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
      }

      .continueShopping {
        font-size: 14px;
        color: #000;
        text-decoration: underline;
      }
    }

    .cartTable {
      .cartRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        &.cartHeaderRow {
          font-size: 13px;
          border-bottom: 1px solid #ccc;

          color: #777;
          text-transform: uppercase;
        }

        .productDetails {
          display: flex;
          align-items: center;
          flex: 3;

          .productImage {
            width: 130px;
            height: 130px;
            margin-right: 20px;
          }

          .productInfo {
            .productName {
              font-size: 16px;
              margin: 0;
              font-weight: 400;
            }

            .productPrice {
              font-size: 14px;
              color: #777;
            }
          }
        }

        .quan {
          display: flex;
          align-items: center;
          gap: 20px;
          @include quantityButton;
        }

        .totalPrice {
          flex: 1;
          text-align: right;
          font-size: 16px;
        }
      }
    }

    // Responsive styles
    @media (max-width: 768px) {
      .cartRow {
        flex-wrap: wrap;

        .productDetails,
        .quantityControls,
        .totalPrice {
          flex: 100%;
          text-align: left;
          margin-bottom: 10px;
        }

        .productDetails {
          flex-direction: column;

          .productImage {
            margin-bottom: 10px;
          }
        }

        .quantityControls {
          justify-content: flex-start;

          button,
          .quantityInput {
            margin-right: 10px;
            background-color: #f3f3f3;
          }
        }

        .totalPrice {
          text-align: left;
        }
      }
    }
  }
}

.footer {
  .textareaCont {
    display: flex;
    justify-content: space-between;

    .textAreaLeft {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p,
      .estimated {
        font-size: 1rem;
        color: #4d4d4d;
      }

      textarea {
        resize: none;
        background-color: #ffedf4;
        height: 6rem;
        cursor: pointer;
        width: 270px;
        margin-bottom: 3rem;
        border: 1px solid black;
        padding: 1rem;
        max-width: 100%;
        &:hover {
          border: 2px solid black;
        }
      }
    }

    .textAreaRight {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .taxInclud {
        font-size: 12px;
        color: #4d4d4d;
      }

      .checkOutBtn {
        background-color: #fcf4f7;
        color: black;
        border: none;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        &:hover {
          border: 1px solid black;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .textAreaLeft,
      .textAreaRight {
        text-align: center;
        width: 100%;
      }
    }
  }
}
